version: "3.9"

services:
  # --- DATABASE ---
  user-db:
    image: mysql:8.0
    container_name: user-db
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - user_db_data:/var/lib/mysql
      # Trọng nhớ map thêm file init.sql (nếu có) để tạo database subscription_db nhé
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # --- MESSAGE BROKER ---
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: app-phpmyadmin
    environment:
      PMA_HOST: user-db
    ports:
      - "8080:80"
    depends_on:
      user-db:
        condition: service_healthy
    networks:
      - app-network

  # --- BACKEND: USER SERVICE ---
  user-service:
    build: ./services/user-service
    container_name: user-service
    # Sửa cổng về 5000 để không trùng với subscription
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql+pymysql://root:root@user-db:3306/user_db
      JWT_SECRET_KEY: change_me_to_a_long_random_secret
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    depends_on:
      user-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

  # --- BACKEND: SUBSCRIPTION SERVICE (THÊM MỚI Ở ĐÂY) ---
  subscription-service:
    build: ./services/subscription-service
    container_name: subscription-service
    ports:
      - "5001:5001"
    environment:
      # Chú ý: Dùng chung user-db nhưng database name là subscription_db
      DATABASE_URL: mysql+pymysql://root:root@user-db:3306/subscription_db
      JWT_SECRET_KEY: change_me_to_a_long_random_secret
      DEBUG: "True"
    depends_on:
      user-db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

  # --- GATEWAY ---
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - user-service
      - subscription-service # Phải đợi cả 2 service chạy
    restart: always
    networks:
      - app-network

volumes:
  user_db_data:

networks:
  app-network:
    driver: bridge